<mat-list>
  <h1><small>Receitas da Fer</small> / Massas</h1>
  

  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/panqueca3.jpg">
    </div>
    <div class="categoria-content">
      <h2>Panqueca de Carne Moída com Molho</h2>
      <p>Receita de Massa de Panqueca Recheada com Carne Moída e Coberta com Molho de Tomate.</p>
      <!-- https://www.receitasnestle.com.br/receitas/panqueca-de-carne-moida -->
      <a mat-raised-button color="primary" routerLink="/panqueca">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>



  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/lasanha2.jpg">
    </div>
    <div class="categoria-content">
      <h2>Lasanha de Bacalhau</h2>
      <p>Lasanha com Recheio de Bacalhau feita com Creme de Leite, Leite Ninho e Maggi</p>
      <!-- https://www.receitasnestle.com.br/receitas/lasanha-de-bacalhau -->
      <a mat-raised-button color="primary" routerLink="/lasanha">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>



  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/macarrao.jpg">
    </div>
    <div class="categoria-content">
      <h2>Macarrão ao Molho Branco</h2>
      <p>Macarrão tipo talharim com Molho Branco Natusabor Alho e Cebola Tostadinhos.</p>
      <!-- https://www.receitasnestle.com.br/receitas/macarrao-ao-molho-branco -->
      <a mat-raised-button color="primary" routerLink="#">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>

</mat-list>