<mat-list>

  <div id="list-receitas">
    <!-- Imagem da receita -->
    <div class="images-receitas">
      <img src="assets/images/bolo1.jpg" alt="bolo de chocolate">
    </div>


    <!-- Descrição da receita -->
    <div class="receitas-content">
      <h1>Bolo de Chocolate com Calda</h1>
      <h2>Receita de Bolo de Chocolate com Chocolate em Pó Nestlé Dois Frades e Calda de Chocolate com raspas de
        laranjas</h2>

      <div class="informacoes">
        Total: 60min <span class="material-icons">navigate_next</span>
        Preparação: 10min <span class="material-icons">navigate_next</span>
        Cozimento: 35min <span class="material-icons">navigate_next</span>
        Espera: 10min <span class="material-icons">navigate_next</span>
        Porções: 28
      </div>


      <div class="ingredientes">
        <h2>Ingredientes</h2>
        <h3>Massa</h3>
        <ul>
          <li>3 xícaras (chá) de farinha de trigo</li>
          <li>3 xícaras (chá) de farinha de trigo</li>
          <li>2 xícaras (chá) de açúcar</li>
          <li>1 xícara (chá) de Chocolate em Pó</li>
          <li>1 colher (chá) de fermento em pó</li>
          <li>1 colher (chá) de bicarbonato de sódio</li>
          <li>1 xícara (chá) de óleo</li>
          <li>2 ovos</li>
          <li>2 xícaras (chá) de água fervente</li>
        </ul>

        <h3>Calda</h3>
        <ul>
          <li>6 colheres (sopa) de açúcar</li>
          <li>2 colheres (sopa) de Chocolate em Pó</li>
          <li>1 colher (chá) de raspas da casca de laranja</li>
          <li>1 colher (chá) de manteiga</li>
          <li>meia xícara (chá) de água</li>
        </ul>

      </div>




      <div class="preparo">
        <h2>Modo de Preparo</h2>
        <h3>Massa</h3>
        <p class="span"><span>1. </span>Em um recipiente, misture a farinha de trigo, o açúcar, o Chocolate em Pó DOIS
          FRADES, o fermento e o bicarbonato peneirados.<br />
          <span>2. </span>Junte o óleo, os ovos e a água fervente, misturando bem.<br />
          <span>3. </span>Despeje a massa em uma assadeira retangular (22 cm x 33 cm), untada com óleo, e asse em forno
          médio-alto (200°C), preaquecido, por cerca de 25 minutos ou até que um palito, depois de espetado na massa,
          saia limpo. Reserve.
        </p>


        <h3>Calda</h3>
        <p><span>4. </span>Em uma panela pequena, misture todos os ingredientes coma água e leve ao fogo baixo, deixando
          ferver até obter uma calda grossa.<br />
          <span>5. </span>Retire do fogo e espalhe sobre o bolo ainda quente.<br />
          <span>6. </span>Deixe-o esfriar, corte em quadrados e sirva.
        </p>
      </div>


<!-- 
      <div class="paiefilho">
        <p>Veja onde comprar o material para seu bolo:</p>
        <fer-compfilho [infoFilho]="infoPai"></fer-compfilho>
      </div> -->

    </div>
  </div>
</mat-list>