<mat-list>

  <div id="list-receitas">
    <!-- Imagem da receita -->
    <div class="images-receitas">
      <img src="assets/images/panqueca3.jpg" alt="Panqueca">
    </div>



    <!-- Descrição da receita -->
    <div class="receitas-content">
      <h1>Panqueca de Carne Moída com Molho</h1>
      <h2>Receita de Massa de Panqueca Recheada com Carne Moída e Coberta com Molho de Tomate</h2>

      <div class="informacoes">
        Total: 75min <span class="material-icons">navigate_next</span>
        Preparação: 10min <span class="material-icons">navigate_next</span>
        Cozimento: 55min <span class="material-icons">navigate_next</span>
        Espera: 10min <span class="material-icons">navigate_next</span>
        Porções: 5
      </div>




      <div class="ingredientes">
        <h2>Ingredientes</h2>
        <h3>Massa</h3>
        <ul>
          <li>1 e meia xícara (chá) de leite integral</li>
          <li>1 xícara (chá) de farinha de trigo</li>
          <li>1 colher (sopa) de óleo</li>
          <li>1 pitada de sal</li>
          <li>3 ovos</li>
        </ul>


        <h3>Recheio</h3>
        <ul>
          <li>1 colher (sopa) de óleo</li>
          <li>500 g de carne moída</li>
          <li>1 colher (sopa) de maggi gril</li>
          <li>meia xícara (chá) de água</li>
          <li>1 colher (sopa) de farinha de trigo</li>
          <li>1 tomate sem pele e sem sementes, picado</li>
          <li>1 colher (sopa) de azeitonas verdes picadas</li>
          <li>1 ovo cozido picado</li>
        </ul>


        <h3>Molho</h3>
        <ul>
          <li>meia colher (sopa) de azeite</li>
          <li>meia cebola pequena picada</li>
          <li>1 dente de alho amassado</li>
          <li>3 tomates sem sementes e picados</li>
          <li>meia xícara (chá) de polpa de tomate</li>
          <li>meia xícara (chá) de abóbora</li>
          <li>1 xícara (chá) de água fervente</li>
          <li>1 colher (chá) de sal</li>
          <li>10 folhas de manjericão</li>
        </ul>

        
        <h3>Montagem</h3>
        <ul>
          <li>2 colheres (sopa) queijo parmesão ralado</li>
        </ul>
      </div>




      <div class="preparo">
        <h2>Modo de Preparo</h2>
        <h3>Massa</h3>
        <p class="span"><span>1.</span> Em um liquidificador, bata o Leite NINHO com a farinha de trigo, o óleo, o sal e os ovos.<br/>
        <span>2.</span> Aqueça uma frigideira untada e coloque pequenas porções de massa.<br/>
        <span>3.</span> Deixe dourar levemente dos dois lados.<br/>
        <span>4.</span> Repita a operação até terminar a massa. Reserve.</p>


        <h3>Recheio</h3>
        <p class="span"><span>5.</span> Em uma panela, aqueça o óleo e junte a carne moída.<br/>
        <span>6.</span> Tempere com o magg gril e refogue bem até ficar soltinha.<br/>
        <span>7.</span> Junte a água e os demais ingredientes.<br/>
        <span>8.</span> Cozinhe por alguns minutos para secar o excesso de líquido.</p>


        <h3>Molho</h3>
        <p class="span"><span>9.</span> Em uma panela, aqueça o azeite e refogue a cebola e o alho.<br/>
        <span>10.</span> Junte os tomates, a polpa de tomate, a abóbora e a água fervente e cozinhe por cerca de 20 minutos com a panela semi tampada.<br/>
        <span>11.</span> Com o auxílio de um garfo, amasse levemente a abóbora e adicione o sal e o manjericão.<br/>
        <span>12.</span> Ferva por mais 10 minutos e reserve aquecido.</p>


        <h3>Montagem</h3>
        <p class="span"><span>13.</span> Recheie cada panqueca com cerca de 2 colheres (sopa) de Recheio e reserve.<br/>
        <span>14.</span> Em um recipiente refratário, forre o fundo com um pouco do Molho.<br/>
        <span>15.</span> Arrume as panquecas no refratário e cubra com o Molho restante.<br/>
        <span>16.</span> Polvilhe o queijo parmesão ralado e leve ao forno para gratinar.<br/>
        <span>17.</span> Sirva.</p>
      </div>

    </div>

  </div>

</mat-list>