<mat-list>
  <h1><small>Receitas da Fer</small> / Bolos e Doces</h1>

  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/bolo1.jpg">
    </div>
    <div class="categoria-content">
      <h2>Bolo de Chocolate com Calda</h2>
      <p>Receita de Bolo de Chocolate com Chocolate em Pó Nestlé Dois Frades e Calda de Chocolate com raspas de
        laranjas</p>
      <a mat-raised-button color="primary" routerLink="/bolochocolate">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>




  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/bolo-cenoura.jpg">
    </div>
    <div class="categoria-content">
      <h2>Bolo de Cenoura com Cobertura de Brigadeiro</h2>
      <p>Receita de Bolo de Cenoura com cobertura de brigadeiro de Leite MOÇA e chocolate granulado.</p>
      <a mat-raised-button color="primary" routerLink="#">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>




  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/bolo-fuba.jpg">
    </div>
    <div class="categoria-content">
      <h2>Bolo de Fubá de Liquidificador</h2>
      <p>Receita de Bolo de Fubá de Liquidificador com leite de coco, queijo parmesão e Leite MOÇA.</p>
      <a mat-raised-button color="primary" routerLink="#">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>

</mat-list>

<!-- https://www.receitasnestle.com.br/receitas/bolo-de-chocolate-com-calda-bolo-peteleco -->
<!-- https://www.receitasnestle.com.br/receitas/bolo-de-cenoura-com-cobertura-de-brigadeiro -->
<!-- https://www.receitasnestle.com.br/receitas/bolo-de-fuba -->