<div class="mais-pedidas">
  <h1>Receitas mais pedidas</h1>

  <div class="card-images">

    <div class="example-card">
      <img mat-card-image src="assets/images/pudim.jpg" alt="Pudim de leite condensado">
      <mat-card-content>
        <h2>Pudim de Leite Condensado</h2>
      </mat-card-content>
      <mat-card-actions>
        <!-- <a mat-button href="https://www.google.com/" target="_blank">Ver Receita</a> -->
        <a mat-raised-button color="primary" routerLink="/pudim">Ver Receita</a>
        <!-- <a mat-raised-button color="warn" routerLink=".">Compartilhar</a> -->
      </mat-card-actions>
    </div>


    <div class="example-card">
      <img mat-card-image src="assets/images/panqueca3.jpg" alt="Panqueca de carne">
      <mat-card-content>
        <h2>Panqueca de Carne Moída</h2>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/panqueca">Ver Receita</a>
        <!-- <a mat-raised-button color="warn" routerLink=".">Compartilhar</a> -->
      </mat-card-actions>
    </div>


    <div class="example-card">
      <img mat-card-image src="assets/images/bolo1.jpg" alt="Bolo de chocolate">
      <mat-card-content>
        <h2>Bolo de Chocolate com Calda</h2>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/bolochocolate">Ver Receita</a>
        <!-- <a mat-raised-button color="warn" routerLink=".">Compartilhar</a> -->
      </mat-card-actions>
    </div>


    <div class="example-card">
      <img mat-card-image src="assets/images/lasanha2.jpg" alt="Lasanha de Bacalhau">
      <mat-card-content>
        <h2>Lasanha de Bacalhau</h2>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/lasanha">Ver Receita</a>
        <!-- <a mat-raised-button color="warn" routerLink=".">Compartilhar</a> -->
      </mat-card-actions>
    </div>

  </div>

</div>