<mat-list>

  <div id="list-receitas">
    <!-- Imagem da receita -->
    <div class="images-receitas">
      <img src="assets/images/lasanha2.jpg" alt="bolo de chocolate">
    </div>


    <!-- Descrição da receita -->
    <div class="receitas-content">
      <h1>Lasanha de Bacalhau</h1>
      <h2>Lasanha com Recheio de Bacalhau feita com Creme de Leite, Leite Ninho e Maggi</h2>



      <div class="informacoes">
        Total: 70min <span class="material-icons">navigate_next</span>
        Preparação: 10min <span class="material-icons">navigate_next</span>
        Cozimento: 60min <span class="material-icons">navigate_next</span>
        Porções: 16
      </div>




      <div class="ingredientes">
        <h2>Ingredientes</h2>
        <h3>Massa</h3>
        <ul>
          <li>meio pacote de massa fresca para lasanha (cerca de 250 g)</li>
        </ul>

        <h3>Molho</h3>
        <ul>
          <li>3 colheres (sopa) de manteiga</li>
          <li>meia cebola ralada</li>
          <li>4 colheres (sopa) de farinha de trigo</li>
          <li>4 xícaras (chá) de leite integral</li>
          <li>1 lata creme de leite</li>
          <li>1 colher (chá) de sal</li>
        </ul>

        <h3>Recheio</h3>
        <ul>
          <li>2 colheres (sopa) de manteiga</li>
          <li>1 cebola ralada</li>
          <li>6 xícaras (chá) de bacalhau dessalgado, desfiado (cerca de 600 g)</li>
          <li>2 sticks de maggi</li>
          <li>2 colheres (sopa) de salsa picada</li>
          <li>6 tomates sem pele, sem sementes e picados</li>
        </ul>


        <h3>Montagem</h3>
        <ul>
          <li>2 xícaras (chá) de mozarela ralada</li>
          <li>2 colheres (sopa) de queijo parmesão ralado</li>
        </ul>
      </div>




      <div class="preparo">
        <h2>Modo de Preparo</h2>
        <h3>Massa</h3>
        <p class="span"><span>1.</span>Cozinhe a massa de acordo com as instruções da embalagem e coloque em uma tigela com água fria
          até o momento de montar.</p>


        <h3>Molho</h3>
        <p class="span"><span>2.</span>Em uma panela, aqueça a manteiga e refogue a cebola.<br />
          <span>3.</span>Junte a farinha de trigo e deixe dourar.<br />
          <span>4.</span>Acrescente o leite ninho, aos poucos, mexendo sempre, e cozinhe por cerca de 5 minutos ou até
          orpar.<br />
          <span>5.</span>Misture o creme de leite e o sal e desligue o fogo.<br />
          <span>6.</span>Reserve
        </p>




        <h3>Recheio</h3>
        <p class="span"><span>7.</span>Em uma panela, aqueça a manteiga e refogue a cebola e o bacalhau desfiado, até secar.<br />
          <span>8.</span>Misture o maggi, a salsa e o tomate. Retire do fogo.
        </p>



        <h3>Montagem</h3>
        <p class="span"><span>9.</span>Em um recipiente refratário retangular grande (30 cm x 40 cm), faça uma camada da massa outra
          de molho, uma de recheio e uma de queijo mozarela.<br />
          <span>10.</span>Repita as camadas e finalize com o molho e o queijo parmesão ralado.<br />
          <span>11.</span>Leve ao forno médio (180ºC), preaquecido, por cerca de 30 minutos ou até gratinar. Retire do forno e sirva.
        </p>

      </div>

    </div>


  </div>
</mat-list>