<mat-list>

  <div id="list-receitas">
    <!-- Imagem da receita -->
    <div class="images-receitas">
      <img src="assets/images/pudim2.jpg" alt="pudim">
    </div>


    <!-- Descrição da receita -->
    <div class="receitas-content">
      <h1>Pudim de Leite Condensado Moça</h1>
      <h2>Receita de Pudim de Leite Condensado Moça com Calda de Caramelo</h2>

      <div class="informacoes">
        Total: 480min <span class="material-icons">navigate_next</span>
        Preparação: 10min <span class="material-icons">navigate_next</span>
        Cozimento: 110min <span class="material-icons">navigate_next</span>
        Espera: 360min <span class="material-icons">navigate_next</span>
        Porções: 16
      </div>

      <div class="ingredientes">
        <h2>Ingredientes</h2>
        <h3>Calda</h3>
        <ul>
          <li>1 xícara (chá) de açúcar</li>
          <li>meia xícara (chá) de água quente</li>
        </ul>

        <h3>Pudim</h3>
        <ul>
          <li>1 Leite moça (lata ou caixinha) 395 g</li>
          <li>2 medidas (da lata) de leite integral</li>
          <li>3 ovos</li>
        </ul>
      </div>



      <div class="preparo">
        <h2>Modo de Preparo</h2>
        <h3>Calda</h3>
        <p class="span"><span>1.</span> Em uma panela de fundo largo, derreta o açúcar até ficar dourado.<br />
          <span>2.</span> Junte a água quente e mexa com uma colher.<br />
          <span>3.</span> Deixe ferver até dissolver os torrões de açúcar e a calda engrossar.<br />
          <span>4.</span> Forre com a calda uma forma com furo central (19 cm de diâmetro) e reserve.
        </p>



        <h3>Pudim</h3>
        <p class="span"><span>5.</span> Em um liquidificador, bata todos os ingredientes do pudim e despeje na forma reservada.<br />
          <span>6.</span> Cubra com papel-alumínio e leve ao forno médio (180°C), em banho-maria, por cerca de 1 hora e
          30
          minutos.<br />
          <span>7.</span> Depois de frio, leve para gelar por cerca de 6 horas.<br />
          <span>8.</span> Desenforme e sirva a seguir.
        </p>
      </div>

    </div>


  </div>
</mat-list>