<!-- <nav>

  <div class="sidenav-container">
    <ul>
      <li><a routerlink="/">Destaques</a></li>
      <li><a routerlink="/bolos">Bolos</a></li>
      <li><a routerlink="/massas">Massas</a></li>
      <li><a routerlink="/doces">Doces</a></li>
    </ul>
  </div>
  
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</nav> -->

<!-- 
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="list" mode="side" opened>
    <mat-list>
      
      <mat-list-item>
        <a routerlink="/destaques">Destaques</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <a routerlink="/bolos">Bolos</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <a routerlink="/massas">Massas</a>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <a routerlink="/doces">Doces</a>
      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </mat-sidenav>


  <mat-sidenav-content class="sidenav-view">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
 -->
