<mat-list>
  <h1><small>Receitas da Fer</small> / Sobremesas</h1>
  
  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/pudim.jpg">
    </div>
    <div class="categoria-content">
      <h2>Pudim de Leite Condensado MOÇA</h2>
      <p>Receita de Pudim de Leite condensado MOÇA com calda de caramelo.</p>
      <!-- https://www.receitasnestle.com.br/receitas/pudim-de-leite-moca -->
        <a mat-raised-button color="primary" routerLink="/pudim">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>


  
  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/brigadeiro.jpg">
    </div>
    <div class="categoria-content">
      <h2>Brigadeiro</h2>
      <p>Receita de Brigadeiro tradicional, feito com Leite Condensado MOÇA e Chocolate em Pó DOIS FRADES, coberto com chocolate granulado.</p>
      <!-- https://www.receitasnestle.com.br/receitas/brigadeiro -->
        <a mat-raised-button color="primary" routerLink="#">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>


  

  <div id="list">
    <div class="categoria-image">
      <img src="assets/images/sobremesa.jpg">
    </div>
    <div class="categoria-content">
      <h2>Sobremesa de Morango</h2>
      <p>Receita de Sobremesa de Morango deliciosa, feita com ovos, açúcar, farinha de trigo, fermento em pó, limão, Leite MOÇA, essência de baunilha entre outros.</p>
      <!-- https://www.receitasnestle.com.br/receitas/sobremesa-de-morango -->
        <a mat-raised-button color="primary" routerLink="#">Ver Receita</a>
    </div>
  </div>
  <mat-divider></mat-divider>

</mat-list>

